@use './../variables';
@use './../mixins';
.input{
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 9px 21px;
    outline: none;
    display: inline-block;
}

.contact{
    padding-top: 50px;
    
    &__container{
        max-width: 1440px;
        padding-right: 0;
        padding-left: 0;
    }
    
    &__wrapper{
        @include mixins.df();
        gap: 32px;
        padding: 62px 80px 82px;
        background-color: #FFEEE1;
        max-width: 100%;
    }
    
    &__left-box{
        max-width: 528px;
    }
    
    &__heading{
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        margin-bottom: 17px;
        color: variables.$primary-color;
    }
    
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 33px;
        color: variables.$secondary-color;
    }
    
    &__tel-box{
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 19px;
        color: variables.$secondary-color;
    }
    
    &__tel__img{
        width: 25px;
        height: 25px;
        margin-right: 11px;
    }
    
    &__form{
        max-width: 577px;
        @include mixins.df();
        flex-wrap: wrap;
        gap: 18px 16px;
        padding-top: 62px;
    }
    
    &__form__opinion{
        padding-bottom: 124px;
        width:100% ;
    }
    
    &__btn{
        width: 117px;
        height: 53px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: variables.$fourth-color;
    }
    
}