@use './../variables';
@use './../mixins';

// tools
.tools{
    padding-top: 55px;
    padding-bottom: 15px;
    &__container{
        background-image: url(./../../img/toolsbgi.png);
        @include mixins.bgi();
        background-position: bottom;
        padding-bottom: 90px;
    }
    &__wrapper{
        @include mixins.df(column,center);
    }
    
    &__heading{
        max-width: 462px;
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        color: variables.$primary-color;
        margin-bottom: 70px;
    }
    
    &__list{
        @include mixins.df($align:center);
        gap: 49px;
        margin-bottom: 60px;
    }
    
    &__item{
        max-width: 262px;
    }
    
    &__item__img{
        width: 55px;
        height: 50px;
        margin-bottom: 30px;
    }
    
    &__inner__heading{
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: variables.$primary-color;
        margin-bottom: 16px;
    }
    
    &__inner__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: variables.$secondary-color;
    }
    
    &__btn{
        width: 171px;
        height: 53px;
        background-color: variables.$fifth-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: variables.$fourth-color;
        text-align: center;
    }
}